services:
  product-service:
    build:
      context: ./product-service
    ports:
      - "8081:8081"

  inventory-service:
    build:
      context: ./inventory-service
    ports:
      - "8080:8080"
    depends_on:
      - product-service
